{% extends 'admin/adminbase.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title_block %}
Add Loan Category
{% endblock %}

{% block body_block %}
<div class="container my-5 mx-auto" style="position: absolute; top: auto;">
    <div class="row my-5">
        <div class="p-5 m-auto rounded shadow-lg col-sm-6 col-md-4 bg-body">
            <h3 class="text-center text-success">Add Category Name</h3>

            <form method="POST" class="my-5">
                {% csrf_token %}

                {% if error %}
                    <div class="my-2">
                        <div class="text-center alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    </div>
                {% endif %}

                <!-- Loan Name -->
                <div class="mb-4 form-outline">
                    <label class="form-label">Loan Name</label>
                    {% render_field form.loan_name|attr:'required:true' class="form-control" %}
                </div>

                <!-- Interest Rate -->
                <div class="mb-4 form-outline">
                    <label class="form-label">Interest Rate (%)</label>
                    {% render_field form.interest_rate|attr:'required:true' class="form-control" placeholder="e.g. 8.50" %}
                </div>

                <button type="submit" class="mb-4 btn btn-primary btn-block">Add Category</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
